.btn{

    $self: &;

    border:2px solid $white;
    height:56px;
    padding:0 36px;
    display:inline-flex;
    align-items:center;
    color:$white;
    background-color:transparent;
    cursor:pointer;
}